html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.cml-3 {
    margin-left: 15px;
}

.cmr-3 {
    margin-right: 15px;
}

.cmt-3 {
    margin-top: 15px;
}

.active {
    color: #fff;
    background-color: #00989a;
}

.gold {
    color: #fff;
    background-color:#fe9f1c;
}

.cp-3 {
    padding: 10px;
}

.cp-5 {
    padding: 15px;
}

.crounded {
    border-radius: 15px;
}

.not-active:hover {
    background-color: #dcdcdc;
}

.h-100 {
    height: 100%;
}

.display-tablet {
    display: none;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 100vh;
    margin-right: 3px;
    margin-left: 3px;
}

.carousel-indicators .active {
    background-color: #00989a;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: aliceblue;
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
    text-overflow: clip;
    white-space: nowrap;
}

.first-section {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}

.first-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-display {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    position: relative;
    max-width: 240px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    min-height: 300px;
    margin-top: 50px;
}

.box-img {
    position: absolute;
    /* margin-top: -5px; */
    top: 0;
    left: 50%;
    margin-top: -30px;
    z-index: 2;
    background-color: white;
    transform: translate(-50%, 0);
    right: 50;
}

.second-section {
    background-color: #009799;
    transform: skew(0deg,-4deg);
    position: relative;
}

.second-section-width {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.second-section-header {
    color: white;
}

.bend {
    transform: skew(0deg,-4deg);
}

.reverse-bend {
    transform: skew(0deg,4deg);
}

.second-section-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-bottom: 1px solid white;
    margin-left: 15px;
    margin-right: 15px;
}

.second-section-list-item {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.bush {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
    margin-left: 15px;
}

.bush-img {
    height: 80px;
}

@media all and (max-width: 768px) { 
    .no-display-tablet {
        display: none !important;
    }

    .second-section-list {
        border-bottom: 0px solid white;
    }

    .display-tablet {
        display: block;
    }
}